@font-face {
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: 300 ;
    font-display: swap;
    src: local('Roboto'),
    url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff");

}

@font-face {
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: 400 ;
    font-display: swap;
    src: local('Roboto'),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: 100 ;
    font-display: swap;
    src: local('Roboto'),
    url("../fonts/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/Roboto-Thin.woff") format("woff");
}
@font-face {
    font-family: 'Roboto' ;
    font-style: normal;
    font-weight: 700 ;
    font-display: swap;
    src: local('Roboto'),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
}