* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    color: grey;
    font-size: 12px;
    margin:22px;
}

.menu li {
    display: inline-block;
}

.mini_nav{
    color: grey;
    font-size: 12px;
    float: right;
}

.menu {
    list-style: none;
    font-size: 0;
}

.start {
    display: inline-block;
}

.menu a {
    color: gray;
    text-decoration: none;
}

.title {
    font-weight: normal;
    font-size: 80px;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.about {
    color: gray;
    margin:15px;
    font-size: 12px;
}

.contact{
    font-size: 12px;
}

.nav-menu-container {
    font-size: 16px;
    border-radius: 5px;
    list-style: none;
    background-color: #333;
}

.nav-menu {
    text-decoration: none;
    color: white;
}

.nav-menu-list {
    display: inline-block;
    padding: 22px;
}

.heading {
    font-weight: 700;
    font-size: 56px;
    color: #333;
    margin-top: 20px;
}

.description {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 40px;
}

.big-pictures {
    list-style: none;
    font-size: 0;
    margin-bottom: 6px;
}

.big-picture-man {
    float: left;
    margin-right: 6px;
}

.small-picture-container {
    list-style: none;
    font-size: 0;
}

.small-picture-list {
    display: inline-block;
    margin-right: 7px;
}

.small-picture-list:last-child {
    margin-right: 0;
}

main {
    padding-bottom: 40px;
}

footer {
    color: gray;
    text-align: center;
    font-size: 10px;
    padding: 62px 0;
    background-color: #333;
}
